*{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}

.text-orange{
    color: #f9a743;
}
.navbar-collapse ul li a{
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

.navbar-collapse ul li{
    padding: 5px 5px;
}

.shadow-button{
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 40px;
    display: inline-block;
    background-color: #f9a743;
    box-shadow: 0 15px 40px rgb(249 167 68 / 50%);
}
.third{
    background: #f9a743;
}
.sixth{
    background-image: url(../images/call-to-action.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

.sixth::before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
}
.sixth .text-light{
    z-index: 1;
}

.form-control{
    border-radius: 40px 0px 0px 40px  !important;
}

p i{
    font-family: 'Times New Roman', Times, serif;
}

.seventh img{
    border-radius: 50%;
    width: 50px !important;
}

footer{
    background: #f4f4f4;
}
footer ul li a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

footer ul li a:{
    color: black;
    text-decoration: underline;
}

footer p.text-muted{
    letter-spacing: 3px;
}

.search{
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.search::before{
    background-color: rgba(255, 255, 255, 0.8);
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    width:100%;
    height: 100%;
    position: absolute;
}
.search i{
    z-index:1;
}

.hover:hover .search{
    animation-name: search;
    animation-duration: .2s;
    animation-iteration-count: 1;
    opacity:1;
    animation-timing-function: ease-in-out;
}

@keyframes search{
    0% {transform: scale(.50)}
    100% {transform: scale(1)}
}

.bi-search{
    font-size: 1.5rem;
    background-color: #f9a743 !important;
    padding: 1.5rem !important;
}